In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import warnings
warnings.filterwarnings("ignore")

In [3]:
dataset = pd.read_csv("Rainfall.csv")

In [5]:
dataset

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,yes,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,yes,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,yes,0.0,40.0,14.2
3,4,1018.9,22.3,20.6,19.1,18.8,90,88,yes,1.0,50.0,16.9
4,5,1015.9,21.3,20.7,20.2,19.9,95,81,yes,0.0,40.0,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...
361,27,1022.7,18.8,17.7,16.9,15.0,84,90,yes,0.0,30.0,18.4
362,28,1026.6,18.6,17.3,16.3,12.8,75,85,yes,1.0,20.0,25.9
363,29,1025.9,18.9,17.7,16.4,13.3,75,78,yes,4.6,70.0,33.4
364,30,1025.3,19.2,17.3,15.2,13.3,78,86,yes,1.2,20.0,20.9
365,31,1026.4,20.5,17.8,15.5,13.0,74,66,no,5.7,20.0,23.3

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   day                     366 non-null    int64
 1   pressure                366 non-null    float64
 2   maxtemp                 366 non-null    float64
 3   temparature             366 non-null    float64
 4   mintemp                 366 non-null    float64
 5   dewpoint                366 non-null    float64
 6   humidity                366 non-null    int64
 7   cloud                   366 non-null    int64
 8   rainfall                366 non-null    object
 9   sunshine                366 non-null    float64
 10           winddirection  365 non-null    float64
 11  windspeed               365 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 34.4+ KB

In [9]:
dataset.columns

Index(['day', 'pressure ', 'maxtemp', 'temparature', 'mintemp', 'dewpoint',
       'humidity ', 'cloud ', 'rainfall', 'sunshine', '         winddirection',
       'windspeed'],
      dtype='object')

In [11]:
dir(dataset)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'dewpoint',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'maxtemp',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mintemp',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rainfall',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'sunshine',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'temparature',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'windspeed',
 'xs']

In [13]:
dataset.dtypes

day                         int64
pressure                  float64
maxtemp                   float64
temparature               float64
mintemp                   float64
dewpoint                  float64
humidity                    int64
cloud                       int64
rainfall                   object
sunshine                  float64
         winddirection    float64
windspeed                 float64
dtype: object

In [15]:
dataset['rainfall'].dtype

dtype('O')

In [17]:
quan = []
qual = []
for columnName in dataset.columns:
    print (columnName)
    if (dataset [columnName].dtype == 'O'):
        print("qual")
        qual.append(columnName)
    else:
        print("quan")
        quan.append(columnName)

day
quan
pressure
quan
maxtemp
quan
temparature
quan
mintemp
quan
dewpoint
quan
humidity
quan
cloud
quan
rainfall
qual
sunshine
quan
         winddirection
quan
windspeed
quan

In [19]:
qual

['rainfall']

In [21]:
quan

['day',
 'pressure ',
 'maxtemp',
 'temparature',
 'mintemp',
 'dewpoint',
 'humidity ',
 'cloud ',
 'sunshine',
 '         winddirection',
 'windspeed']

In [23]:
def quanQual (dataset):
    quan = []
    qual = []
    for columnName in dataset.columns:
        print(columnName)
        if (dataset[columnName].dtype=='O'):
            print('qual')
            qual.append(columnName)
        else:
            print('quan')
            quan.append(columnName)
    return quan,qual

In [25]:
quan,qual = quanQual (dataset)

day
quan
pressure
quan
maxtemp
quan
temparature
quan
mintemp
quan
dewpoint
quan
humidity
quan
cloud
quan
rainfall
qual
sunshine
quan
         winddirection
quan
windspeed
quan

In [27]:
qual

['rainfall']

In [29]:
quan

['day',
 'pressure ',
 'maxtemp',
 'temparature',
 'mintemp',
 'dewpoint',
 'humidity ',
 'cloud ',
 'sunshine',
 '         winddirection',
 'windspeed']

In [31]:
dataset

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,yes,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,yes,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,yes,0.0,40.0,14.2
3,4,1018.9,22.3,20.6,19.1,18.8,90,88,yes,1.0,50.0,16.9
4,5,1015.9,21.3,20.7,20.2,19.9,95,81,yes,0.0,40.0,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...
361,27,1022.7,18.8,17.7,16.9,15.0,84,90,yes,0.0,30.0,18.4
362,28,1026.6,18.6,17.3,16.3,12.8,75,85,yes,1.0,20.0,25.9
363,29,1025.9,18.9,17.7,16.4,13.3,75,78,yes,4.6,70.0,33.4
364,30,1025.3,19.2,17.3,15.2,13.3,78,86,yes,1.2,20.0,20.9
365,31,1026.4,20.5,17.8,15.5,13.0,74,66,no,5.7,20.0,23.3

## Central Tendency

In [34]:
dataset["maxtemp"].mean()

26.191256830601088

In [36]:
dataset["maxtemp"].median()

27.75

In [38]:
dataset["maxtemp"].mode()

0    28.4
1    29.1
2    31.2
3    32.0
4    33.3
Name: maxtemp, dtype: float64

In [40]:
dataset["maxtemp"].mode()[0]

28.4

In [42]:
dataset.describe()

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,365.000000,365.000000
mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
std,8.823592,6.414776,5.978343,5.632813,5.594153,5.997021,10.062470,21.798012,3.934398,81.723724,10.069712
min,1.000000,998.500000,7.100000,4.900000,3.100000,-0.400000,36.000000,0.000000,0.000000,10.000000,4.400000
25%,8.000000,1008.500000,21.200000,18.825000,17.125000,16.125000,75.000000,58.000000,0.500000,40.000000,13.700000
50%,16.000000,1013.000000,27.750000,25.450000,23.700000,21.950000,80.500000,80.000000,3.500000,70.000000,20.500000
75%,23.000000,1018.100000,31.200000,28.600000,26.575000,25.000000,87.000000,88.000000,8.200000,190.000000,27.900000
max,31.000000,1034.600000,36.300000,32.400000,30.000000,26.700000,98.000000,100.000000,12.100000,350.000000,59.500000

In [44]:
descriptive=pd.DataFrame()

In [46]:
descriptive

Empty DataFrame
Columns: []
Index: []

In [48]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [50]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
descriptive["maxtemp"]["Median"]=0

In [54]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Median,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()

In [58]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()

In [62]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]

In [66]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5

## Percentile

In [69]:
import numpy as np

In [71]:
dataset["maxtemp"].isna().sum()

0

In [73]:
dataset["maxtemp"].dtype

dtype('float64')

In [75]:
np.percentile(pd.to_numeric(dataset["maxtemp"], errors='coerce').dropna(), 100)

36.3

In [77]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]

In [79]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q2:50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q3:75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=np.percentile(dataset[columnName],25)

In [83]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,8.0,1008.5,21.2,18.825,17.125,16.125,75.0,58.0,0.5,NaN,NaN
Q2:50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q3:75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]

In [87]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,8.0,1008.5,21.2,18.825,17.125,16.125,75.0,58.0,0.5,40.0,13.7
Q2:50%,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Q3:75%,23.0,1018.1,31.2,28.6,26.575,25.0,87.0,88.0,8.2,190.0,27.9
Q4:100%,31.0,1034.6,36.3,32.4,30.0,26.7,98.0,100.0,12.1,350.0,59.5

In [89]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]

In [91]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,8.0,1008.5,21.2,18.825,17.125,16.125,75.0,58.0,0.5,40.0,13.7
Q2:50%,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Q3:75%,23.0,1018.1,31.2,28.6,26.575,25.0,87.0,88.0,8.2,190.0,27.9
99%,31.0,1027.435,35.135,31.17,29.07,26.6,97.35,100.0,11.8,NaN,NaN
Q4:100%,31.0,1034.6,36.3,32.4,30.0,26.7,98.0,100.0,12.1,350.0,59.5

## IQR

In [94]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [96]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,4.419399,101.506849,21.536986
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,8.0,1008.5,21.2,18.825,17.125,16.125,75.0,58.0,0.5,40.0,13.7
Q2:50%,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Q3:75%,23.0,1018.1,31.2,28.6,26.575,25.0,87.0,88.0,8.2,190.0,27.9
99%,31.0,1027.435,35.135,31.17,29.07,26.6,97.35,100.0,11.8,NaN,NaN
Q4:100%,31.0,1034.6,36.3,32.4,30.0,26.7,98.0,100.0,12.1,350.0,59.5
IQR,15.0,9.6,10.0,9.775,9.45,8.875,12.0,30.0,7.7,150.0,14.2
1.5rule,22.5,14.4,15.0,14.6625,14.175,13.3125,18.0,45.0,11.55,225.0,21.3
Lesser,-14.5,994.1,6.2,4.1625,2.95,2.8125,57.0,13.0,-11.05,-185.0,-7.6
Greater,45.5,1032.5,46.2,43.2625,40.75,38.3125,105.0,133.0,19.75,415.0,49.2
Min,1,998.5,7.1,4.9,3.1,-0.4,36,0,0.0,10.0,4.4
Max,31,1034.6,36.3,32.4,30.0,26.7,98,100,12.1,350.0,59.5

## Finding The Outliers

In [99]:
import warnings
warnings.filterwarnings("ignore")

In [101]:
descriptive["day"]["Min"]<descriptive["day"]["Lesser"]

False

In [103]:
lesser=[]
greater=[]
for columnName in quan:
    if (descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if (descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [105]:
lesser

['dewpoint', 'humidity ', 'cloud ']

In [107]:
greater

['pressure ', 'windspeed']

In [109]:
def find_outliers(descriptive, quan):
    lesser = []
    greater = []

    for columnName in quan:
        if descriptive[columnName]["Min"] < descriptive[columnName]["Lesser"]:
            lesser.append(columnName)
        if descriptive[columnName]["Max"] > descriptive[columnName]["Greater"]:
            greater.append(columnName)

    return lesser, greater

In [111]:
lesser

['dewpoint', 'humidity ', 'cloud ']

In [113]:
greater

['pressure ', 'windspeed']

## Replacing The Outliers

In [116]:
for columnName in lesser:
    dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
for columnName in greater:
     dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

In [118]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]- descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]= descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [120]:
descriptive

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.736612,26.191257,23.747268,21.894536,20.01028,80.448087,71.204918,4.419399,101.506849,21.473699
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,8.0,1008.5,21.2,18.825,17.125,16.125,75.0,58.0,0.5,40.0,13.7
Q2:50%,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Q3:75%,23.0,1018.1,31.2,28.6,26.575,25.0,87.0,88.0,8.2,190.0,27.9
99%,31.0,1027.435,35.135,31.17,29.07,26.6,97.35,100.0,11.8,NaN,NaN
Q4:100%,31.0,1032.5,36.3,32.4,30.0,26.7,98.0,100.0,12.1,350.0,49.2
IQR,15.0,9.6,10.0,9.775,9.45,8.875,12.0,30.0,7.7,150.0,14.2
1.5rule,22.5,14.4,15.0,14.6625,14.175,13.3125,18.0,45.0,11.55,225.0,21.3
Lesser,-14.5,994.1,6.2,4.1625,2.95,2.8125,57.0,13.0,-11.05,-185.0,-7.6
Greater,45.5,1032.5,46.2,43.2625,40.75,38.3125,105.0,133.0,19.75,415.0,49.2
Min,1,998.5,7.1,4.9,3.1,2.8125,57,13,0.0,10.0,4.4
Max,31,1032.5,36.3,32.4,30.0,26.7,98,100,12.1,350.0,49.2

In [122]:
lesser=[]
greater=[]
for columnName in quan:
    if (descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if (descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [124]:
lesser

[]

In [126]:
greater

[]

In [128]:
def replace_outliers(descriptive, quan):
    lesser = []
    greater = []

    for columnName in quan:
        if descriptive[columnName]["Min"] < descriptive[columnName]["Lesser"]:
            lesser.append(columnName)
        if descriptive[columnName]["Max"] > descriptive[columnName]["Greater"]:
            greater.append(columnName)

    return lesser,greater

In [130]:
lesser

[]

In [132]:
greater

[]

## Frequency

In [141]:
dataset["day"].value_counts()

day
1     12
2     12
29    12
28    12
27    12
26    12
25    12
24    12
23    12
22    12
21    12
20    12
19    12
18    12
17    12
16    12
15    12
14    12
13    12
12    12
11    12
10    12
9     12
8     12
7     12
6     12
5     12
4     12
3     12
30    11
31     7
Name: count, dtype: int64

In [143]:
freqTable=pd.DataFrame(columns=["Unique_values","Frequency","Relative_Frequency","Cumsum"])

In [145]:
freqTable

Empty DataFrame
Columns: [Unique_values, Frequency, Relative_Frequency, Cumsum]
Index: []

In [149]:
freqTable["Unique_values"]=dataset["day"].value_counts().index

In [151]:
freqTable

    Unique_values Frequency Relative_Frequency Cumsum
0               1       NaN                NaN    NaN
1               2       NaN                NaN    NaN
2              29       NaN                NaN    NaN
3              28       NaN                NaN    NaN
4              27       NaN                NaN    NaN
5              26       NaN                NaN    NaN
6              25       NaN                NaN    NaN
7              24       NaN                NaN    NaN
8              23       NaN                NaN    NaN
9              22       NaN                NaN    NaN
10             21       NaN                NaN    NaN
11             20       NaN                NaN    NaN
12             19       NaN                NaN    NaN
13             18       NaN                NaN    NaN
14             17       NaN                NaN    NaN
15             16       NaN                NaN    NaN
16             15       NaN                NaN    NaN
17             14       NaN                NaN    NaN
18             13       NaN                NaN    NaN
19             12       NaN                NaN    NaN
20             11       NaN                NaN    NaN
21             10       NaN                NaN    NaN
22              9       NaN                NaN    NaN
23              8       NaN                NaN    NaN
24              7       NaN                NaN    NaN
25              6       NaN                NaN    NaN
26              5       NaN                NaN    NaN
27              4       NaN                NaN    NaN
28              3       NaN                NaN    NaN
29             30       NaN                NaN    NaN
30             31       NaN                NaN    NaN

In [157]:
freqTable["Unique_values"]=dataset["day"].value_counts().index
freqTable["Frequency"]=dataset["day"].value_counts().values
freqTable["Relative_Frequency"]=freqTable["Frequency"]/dataset[columnName].count()
freqTable["Cumsum"]=freqTable["Relative_Frequency"].cumsum()

In [159]:
freqTable

    Unique_values  Frequency  Relative_Frequency    Cumsum
0               1         12            0.032877  0.032877
1               2         12            0.032877  0.065753
2              29         12            0.032877  0.098630
3              28         12            0.032877  0.131507
4              27         12            0.032877  0.164384
5              26         12            0.032877  0.197260
6              25         12            0.032877  0.230137
7              24         12            0.032877  0.263014
8              23         12            0.032877  0.295890
9              22         12            0.032877  0.328767
10             21         12            0.032877  0.361644
11             20         12            0.032877  0.394521
12             19         12            0.032877  0.427397
13             18         12            0.032877  0.460274
14             17         12            0.032877  0.493151
15             16         12            0.032877  0.526027
16             15         12            0.032877  0.558904
17             14         12            0.032877  0.591781
18             13         12            0.032877  0.624658
19             12         12            0.032877  0.657534
20             11         12            0.032877  0.690411
21             10         12            0.032877  0.723288
22              9         12            0.032877  0.756164
23              8         12            0.032877  0.789041
24              7         12            0.032877  0.821918
25              6         12            0.032877  0.854795
26              5         12            0.032877  0.887671
27              4         12            0.032877  0.920548
28              3         12            0.032877  0.953425
29             30         11            0.030137  0.983562
30             31          7            0.019178  1.002740

In [161]:
def freqTable(columnName,dataset):
    freqTable=pd.DataFrame(columns=["Unique_values","Frequency","Relative_Frequency","Cumsum"])
    freqTable["Unique_values"]=dataset[columnName].value_counts().index
    freqTable["Frequency"]=dataset[columnName].value_counts().values
    freqTable["Relative_Frequency"]=freqTable["Frequency"]/dataset[columnName].count()
    freqTable["Cumsum"]=freqTable["Relative_Frequency"].cumsum()
    return freqTable

In [163]:
freqTable(columnName,dataset)

     Unique_values  Frequency  Relative_Frequency    Cumsum
0             14.5          6            0.016438  0.016438
1             49.2          5            0.013699  0.030137
2             20.5          5            0.013699  0.043836
3             21.9          4            0.010959  0.054795
4             15.3          4            0.010959  0.065753
..             ...        ...                 ...       ...
214           26.0          1            0.002740  0.989041
215           27.0          1            0.002740  0.991781
216           30.5          1            0.002740  0.994521
217            8.5          1            0.002740  0.997260
218           33.4          1            0.002740  1.000000

[219 rows x 4 columns]

In [165]:
def Univariate(dataset, quan):
    descriptive = pd.DataFrame(index=["Mean", "Median", "Mode", "Q1:25%", "Q2:50%", "Q3:75%", "99%", 
                                      "Q4:100%", "IQR", "1.5rule", "Lesser", "Greater", "Min", "Max"], 
                               columns=quan)

    for columnName in quan:
        descriptive[columnName]["Mean"] = dataset[columnName].mean()
        descriptive[columnName]["Median"] = dataset[columnName].median()
        descriptive[columnName]["Mode"] = dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25%"] = dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50%"] = dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75%"] = dataset.describe()[columnName]["75%"]
        descriptive[columnName]["99%"] = np.percentile(dataset[columnName], 99)
        descriptive[columnName]["Q4:100%"] = dataset.describe()[columnName]["max"]
        descriptive[columnName]["IQR"] = descriptive[columnName]["Q3:75%"] - descriptive[columnName]["Q1:25%"]
        descriptive[columnName]["1.5rule"] = 1.5 * descriptive[columnName]["IQR"]
        descriptive[columnName]["Lesser"] = descriptive[columnName]["Q1:25%"] - descriptive[columnName]["1.5rule"]
        descriptive[columnName]["Greater"] = descriptive[columnName]["Q3:75%"] + descriptive[columnName]["1.5rule"]
        descriptive[columnName]["Min"] = dataset[columnName].min()
        descriptive[columnName]["Max"] = dataset[columnName].max()

    return descriptive

In [167]:
Univariate(dataset, quan)

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.736612,26.191257,23.747268,21.894536,20.01028,80.448087,71.204918,4.419399,101.506849,21.473699
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,8.0,1008.5,21.2,18.825,17.125,16.125,75.0,58.0,0.5,40.0,13.7
Q2:50%,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Q3:75%,23.0,1018.1,31.2,28.6,26.575,25.0,87.0,88.0,8.2,190.0,27.9
99%,31.0,1027.435,35.135,31.17,29.07,26.6,97.35,100.0,11.8,NaN,NaN
Q4:100%,31.0,1032.5,36.3,32.4,30.0,26.7,98.0,100.0,12.1,350.0,49.2
IQR,15.0,9.6,10.0,9.775,9.45,8.875,12.0,30.0,7.7,150.0,14.2
1.5rule,22.5,14.4,15.0,14.6625,14.175,13.3125,18.0,45.0,11.55,225.0,21.3
Lesser,-14.5,994.1,6.2,4.1625,2.95,2.8125,57.0,13.0,-11.05,-185.0,-7.6
Greater,45.5,1032.5,46.2,43.2625,40.75,38.3125,105.0,133.0,19.75,415.0,49.2
Min,1,998.5,7.1,4.9,3.1,2.8125,57,13,0.0,10.0,4.4
Max,31,1032.5,36.3,32.4,30.0,26.7,98,100,12.1,350.0,49.2

## HSK

In [170]:
dir(dataset["day"])

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_cacher',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [172]:
dataset["day"].skew()

0.0044790665834073175

In [174]:
dataset["day"].kurtosis()

-1.1965765647745565

In [176]:
def Univariate(dataset, quan):
    descriptive = pd.DataFrame(index=["Mean", "Median", "Mode", "Q1:25%", "Q2:50%", "Q3:75%", "99%", 
                                      "Q4:100%", "IQR", "1.5rule", "Lesser", "Greater","skew","kurtosis", "Min", "Max"], 
                               columns=quan)

    for columnName in quan:
        descriptive[columnName]["Mean"] = dataset[columnName].mean()
        descriptive[columnName]["Median"] = dataset[columnName].median()
        descriptive[columnName]["Mode"] = dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25%"] = dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50%"] = dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75%"] = dataset.describe()[columnName]["75%"]
        descriptive[columnName]["99%"] = np.percentile(dataset[columnName], 99)
        descriptive[columnName]["Q4:100%"] = dataset.describe()[columnName]["max"]
        descriptive[columnName]["IQR"] = descriptive[columnName]["Q3:75%"] - descriptive[columnName]["Q1:25%"]
        descriptive[columnName]["1.5rule"] = 1.5 * descriptive[columnName]["IQR"]
        descriptive[columnName]["Lesser"] = descriptive[columnName]["Q1:25%"] - descriptive[columnName]["1.5rule"]
        descriptive[columnName]["Greater"] = descriptive[columnName]["Q3:75%"] + descriptive[columnName]["1.5rule"]
        descriptive[columnName]["skew"]=dataset[columnName].skew()
        descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
        descriptive[columnName]["Min"] = dataset[columnName].min()
        descriptive[columnName]["Max"] = dataset[columnName].max()

    return descriptive

In [178]:
 Univariate(dataset, quan)

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.736612,26.191257,23.747268,21.894536,20.01028,80.448087,71.204918,4.419399,101.506849,21.473699
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,8.0,1008.5,21.2,18.825,17.125,16.125,75.0,58.0,0.5,40.0,13.7
Q2:50%,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Q3:75%,23.0,1018.1,31.2,28.6,26.575,25.0,87.0,88.0,8.2,190.0,27.9
99%,31.0,1027.435,35.135,31.17,29.07,26.6,97.35,100.0,11.8,NaN,NaN
Q4:100%,31.0,1032.5,36.3,32.4,30.0,26.7,98.0,100.0,12.1,350.0,49.2
IQR,15.0,9.6,10.0,9.775,9.45,8.875,12.0,30.0,7.7,150.0,14.2
1.5rule,22.5,14.4,15.0,14.6625,14.175,13.3125,18.0,45.0,11.55,225.0,21.3
Lesser,-14.5,994.1,6.2,4.1625,2.95,2.8125,57.0,13.0,-11.05,-185.0,-7.6
Greater,45.5,1032.5,46.2,43.2625,40.75,38.3125,105.0,133.0,19.75,415.0,49.2
skew,0.004479,0.308172,-0.53139,-0.633029,-0.713013,-0.991761,-0.473143,-1.029635,0.360109,0.805962,0.651071
kurtosis,-1.196577,-0.411388,-0.703489,-0.586749,-0.427529,0.182598,0.176914,0.055296,-1.37148,-0.754122,-0.11444
Min,1,998.5,7.1,4.9,3.1,2.8125,57,13,0.0,10.0,4.4
Max,31,1032.5,36.3,32.4,30.0,26.7,98,100,12.1,350.0,49.2

## Varience And Standard Deviation

In [180]:
dataset["day"].var()

77.85577513286924

In [182]:
dataset["day"].std()

8.823591963189891

In [184]:
def Univariate(dataset, quan):
    descriptive = pd.DataFrame(index=["Mean", "Median", "Mode", "Q1:25%", "Q2:50%", "Q3:75%", "99%", 
                                      "Q4:100%", "IQR", "1.5rule", "Lesser", "Greater","skew","kurtosis","Variance","std", "Min", "Max"], 
                               columns=quan)

    for columnName in quan:
        descriptive[columnName]["Mean"] = dataset[columnName].mean()
        descriptive[columnName]["Median"] = dataset[columnName].median()
        descriptive[columnName]["Mode"] = dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25%"] = dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50%"] = dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75%"] = dataset.describe()[columnName]["75%"]
        descriptive[columnName]["99%"] = np.percentile(dataset[columnName], 99)
        descriptive[columnName]["Q4:100%"] = dataset.describe()[columnName]["max"]
        descriptive[columnName]["IQR"] = descriptive[columnName]["Q3:75%"] - descriptive[columnName]["Q1:25%"]
        descriptive[columnName]["1.5rule"] = 1.5 * descriptive[columnName]["IQR"]
        descriptive[columnName]["Lesser"] = descriptive[columnName]["Q1:25%"] - descriptive[columnName]["1.5rule"]
        descriptive[columnName]["Greater"] = descriptive[columnName]["Q3:75%"] + descriptive[columnName]["1.5rule"]
        descriptive[columnName]["skew"]=dataset[columnName].skew()
        descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
        descriptive[columnName]["Variance"]=dataset[columnName].var()
        descriptive[columnName]["std"]=dataset[columnName].std()
        descriptive[columnName]["Min"] = dataset[columnName].min()
        descriptive[columnName]["Max"] = dataset[columnName].max()

    return descriptive

In [186]:
 Univariate(dataset, quan)

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
Mean,15.756831,1013.736612,26.191257,23.747268,21.894536,20.01028,80.448087,71.204918,4.419399,101.506849,21.473699
Median,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Mode,1,1008.1,28.4,28.1,26.9,25.3,79,88,0.0,20.0,14.5
Q1:25%,8.0,1008.5,21.2,18.825,17.125,16.125,75.0,58.0,0.5,40.0,13.7
Q2:50%,16.0,1013.0,27.75,25.45,23.7,21.95,80.5,80.0,3.5,70.0,20.5
Q3:75%,23.0,1018.1,31.2,28.6,26.575,25.0,87.0,88.0,8.2,190.0,27.9
99%,31.0,1027.435,35.135,31.17,29.07,26.6,97.35,100.0,11.8,NaN,NaN
Q4:100%,31.0,1032.5,36.3,32.4,30.0,26.7,98.0,100.0,12.1,350.0,49.2
IQR,15.0,9.6,10.0,9.775,9.45,8.875,12.0,30.0,7.7,150.0,14.2
1.5rule,22.5,14.4,15.0,14.6625,14.175,13.3125,18.0,45.0,11.55,225.0,21.3
Lesser,-14.5,994.1,6.2,4.1625,2.95,2.8125,57.0,13.0,-11.05,-185.0,-7.6
Greater,45.5,1032.5,46.2,43.2625,40.75,38.3125,105.0,133.0,19.75,415.0,49.2
skew,0.004479,0.308172,-0.53139,-0.633029,-0.713013,-0.991761,-0.473143,-1.029635,0.360109,0.805962,0.651071
kurtosis,-1.196577,-0.411388,-0.703489,-0.586749,-0.427529,0.182598,0.176914,0.055296,-1.37148,-0.754122,-0.11444
Variance,77.855775,40.911094,35.740581,31.728582,31.294545,35.182965,84.730174,465.412688,15.479486,6678.767123,97.436339
std,8.823592,6.396178,5.978343,5.632813,5.594153,5.931523,9.204899,21.573426,3.934398,81.723724,9.870985
Min,1,998.5,7.1,4.9,3.1,2.8125,57,13,0.0,10.0,4.4
Max,31,1032.5,36.3,32.4,30.0,26.7,98,100,12.1,350.0,49.2